<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule videos/(.*)$ router.php?init_req=$1 [QSA,NC,L]
    RewriteRule videos router.php?init_req=
</IfModule>